.bigboi-background1 {
  background: linear-gradient(#b3ccff, #330033);
  /* background: #330033; */
  transition: 2s all ease;
}
.bigboi-background2 {
  background: linear-gradient(#b3ccff, #002533);
  /* background: #000080; */
  transition: 2s all ease;
}
.bigboi-background3 {
  background: linear-gradient(#b3ccff, #172029);
  /* background: #33adff; */
  transition: 2s all ease;
}
.seattle {
  opacity:0.75;
}
.denver {
  opacity: 0.90
}

.personal-photo {
  margin-bottom: -200px;
}

.name {
  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
  font-size: 30px;
}

a {
  transition: all 300ms ease;
}

 .scroll img{
   border-radius: 50%;
   width: 100%;
 }
 .two.columns p{
   color: #990033;
   font-size: 25px
 }

.personal-photo img  {
  border-radius: 50%;
  height: 160px;
  width: 160px;
  margin: auto;
  display: block;
  top: 100px;
  position: relative;
  z-index: 10;
}
.nav {
  position: sticky;
  top: 0;
  padding: 0 75px;
  height: 45px;
  display: flex;
  flex-wrap: wrap;
  background: grey
}

.nav .button  {
  height: 45px
}
.nav a.button {
  color: #990033
}

#scroll   {
  padding: 0 75px;
  border-radius: 0px, 0px, 20px, 20px;
}


div .top-img  {
  width: 100%;
  height: 300px;
  /* opacity: 0.7; */
  max-width: 100%;
}

.skyline div {
  margin: 0;
  width: 50% !important;
}

.projects{
  display: flex;
  padding: 0 75px;
  border-radius: 10%
  /* margin-left: 100px !important;
  margin-right: 100px !important; */
}

.projects p {
  color: white;
  margin: auto;
  }
.containers {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  background: #ccc;
  margin: auto;
}

.header a{
  margin-left: 5px;
  color: #990033
}

.projects .container1 {
  margin-left: 0
}

.projects .container1, .projects .container2, .projects .container3 {
  background-color: grey;
}

.projectimg {
  width: 100%;
}

#bio {
  width: 100%;
  height: 627px;
  z-index: 0;

}
.text {
  position: relative;
}
.img {
  position: absolute;
  width: 100%;
  height: 627px;
  display: none;
  overflow: hidden;
  transition: 1.5s display ease;
}
.img img {
  width: 100%
}
.current-img {
  display: inline-block;
}
li  {
  color: #ffc107
}
.bio  {
  color: white;
}
.exp  {
  color: white;
}
.bio h2{
  text-align: right;
  margin-right: 60px;
}
.bio ul{
  text-align: right;
  margin-right: 20px;
  direction: rtl;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  /* font-style: bold; */
}
.exp h2 {
  margin-left: 60px;
}
.exp ul {
  margin-left: 60px;
  font-family: "Gill Sans", sans-serif;
  font-size: 15px;
  /* font-style: bold; */
}
.contact-bottom-bar {
  width: 50%;
  height: 50px;
  margin: 0 auto;
  background-color: #2c3b70;
  position: relative;
  top: 323;
  border-radius: 50px;
  z-index: 99;
}
.contact.buttons  {
  padding: 7 15px
}
.slack-img  {
  height: 35px;
  width: 35px;
}
.github-img  {
  height: 35px;
  width: 100px;
}
.email-img  {
  height: 35px;
  width: 35px;
}
.linkedin-img {
  height: 35px;
  width: 50px;
}
p {
  text-align: center;
  font-family: "Gill Sans", sans-serif;
}
.a p {
  text-align: right;
}
.q p  {
  text-align: left;
}

.hide {
  display: none;
}
